<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<!-- Accordion Start -->
    <section class="accordion-section">
        <div class="container">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-10">
                    <h2>FAQ</h2>
                    <button class="accordion">Where can I find information on private companies?</button>
                    <div class="panel">
                        <p><strong>Enry</strong> is always looking for talented <a href="#">information</a> security and IT risk management
                            professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with
                            <strong>Enry</strong>, a company who values you and your family, visit our careers page.</p>
                    </div>

                    <button class="accordion">Where can I find market research reports?</button>
                    <div class="panel">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </div>


                    <button class="accordion">What do you mean by risk management?</button>
                    <div class="panel">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                    </div>


                    <button class="accordion">Where should I incorporate my business?</button>
                    <div class="panel">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </div>


                    <button class="accordion">Where can I find market research reports?</button>
                    <div class="panel">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </div>




                </div>
            </div>
        </div>
    </section>

<!-- Accordion End -->


    <script src="../js/accordion.js"></script>
</body>

</html>