<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/global.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>

    <!-- Swiper -->
    <section class="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">

                                <div class="swiper-slide__image">
                                    <img src="/images/banner/slide-1.jpg" alt="slide-1">
                                </div>
                                <div class="swiper-slide__content">
                                    <span class="heading-red">WELCOME TO US</span>
                                    <h1>
                                        Take Our Help To Reach The Top </h1>

                                    <a href="#" class="banner-link"> Read more </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">

                                    <div class="swiper-slide__image">
                                        <img src="/images/banner/slide-2.jpg" alt="slide-2">
                                    </div>
                                    <div class="swiper-slide__content">
                                        <span class="heading-red">ABOUT ALL OF US</span>
                                        <h1>
                                            Take Our Help To Reach The Top</h1>

                                        <a href="#" class="banner-link"> Read more </a>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">

                                    <div class="swiper-slide__image">
                                        <img src="/images/banner/slide-3.jpg" alt="slide-3">
                                    </div>
                                    <div class="swiper-slide__content">
                                        <span class="heading-red">REASON OF CHOOSE US</span>
                                        <h1>
                                            Transform & Build Your Own Business
                                        </h1>

                                        <a href="#" class="banner-link"> Read more </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">

                                    <div class="swiper-slide__image">
                                        <img src="/images/banner/slide-4.jpg" alt="slide-4">
                                    </div>
                                    <div class="swiper-slide__content">
                                        <span class="heading-red">WELCOME TO US</span>
                                        <h1>
                                            Business Consultant & Grid Line For You
                                        </h1>

                                        <a href="#" class="banner-link"> Read more </a>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">

                                    <div class="swiper-slide__image">
                                        <img src="/images/banner/slide-5.jpg" alt="slide-5">
                                    </div>
                                    <div class="swiper-slide__content">
                                        <span class="heading-red">REASON OF CHOOSE US</span>
                                        <h1>
                                            Find Over 250+ Ex in India

                                        </h1>

                                        <a href="#" class="banner-link"> Read more </a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <!-- Initialize Swiper -->

    </script>

    <script src="/js/banner.js"></script>
</body>

</html>