<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/custom-tab.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- external css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- custom-tab section -->
    <section class="custom-tab">
        <h3>Top 10 Colleges</h3>
        <!-- custom-tab button -->
        <div class="custom-tab__button">
            <div class="container">
                <div class="row">
                    <div class="button-container">
                        <!-- left_icon -->
                        <div class="left_icon">
                            <div class="icons">
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                        </div>
                        <!-- // -->
                        <!-- buttons -->
                        <div class="buttons">
                            <button type="button" class="btn" id="button1"><a href="#BE/B.Tech">BE/B.Tech</a></button>
                            <button type="button" class="btn" id="button1"><a href="#MBA/PGDM">MBA/PGDM</a></button>
                            <button type="button" class="btn" id="button1"><a href="#MBBS">MBBS</a></button>
                            <button type="button" class="btn" id="button1"><a href="#ME/M.Tech">ME/M.Tech</a></button>
                            <button type="button" class="btn" id="button1"><a href="#B.Sc">B.Sc</a></button>
                            <button type="button" class="btn" id="button1"><a href="#BA">BA</a></button>
                            <button type="button" class="btn" id="button1"><a href="#B.Com">B.Com</a></button>
                            <button type="button" class="btn" id="button1"><a href="#BCA">BCA</a></button>
                            <button type="button" class="btn" id="button1"><a href="#BBA/BBM">BBA/BBM</a></button>
                            <button type="button" class="btn" id="button1"><a href="#B.Sc[Nursing]">B.Sc[Nursing]</a></button>
                            <!-- <button type="button" class="btn" id="button1"><a href="#M.Sc">M.Sc</a></button>
                            <button type="button" class="btn" id="button1"><a href="#MA">MA</a></button> -->


                        </div>
                        <!-- // -->
                        <!-- right-icon -->
                        <div class="right_icon">
                            <div class="icons">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <!-- //  -->

                    </div>
                </div>
            </div>
        </div>

        <!-- end custom-tab button -->
        <!-- custom-tab table -->
        <div class="custom_tab_table" id="BE/B.Tech">
            <div class="container">
                <div class="row">
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Rank</th>
                                <th style="width: 32%;">College</th>
                                <th style="width: 23%;">Ranking</th>
                                <th>Cutoff</th>
                                <th>Application Deadline</th>
                                <th>Fees</th>
                            </tr>
                            <tr>
                                <td>#1</td>
                                <td>
                                    <div class="td_image">
                                        <div class="td_img"><img src="/images/custom-tab/iit-madras.webp"
                                                alt="iit-madras" class="img"></div>
                                        <div class="td_containt">
                                            <p>IIT Madras - Indian Institute of Technology - [IITM]</p>
                                            <small>Chennai, Tamil Nadu &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                                    style="color: #f8c100;"></i> <span>10/10</span></small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="td_image">
                                        <div class="td_img"><img src="/images/custom-tab/iit.webp" alt="iit-madras"
                                                class="img"></div>
                                        <div class="td_containt">
                                            <p>#2<small> out of 312 in India 2023</small></p>
                                        </div>
                                    </div>
                                </td>
                                <td><small>CAT 2023 Cut off</small> <span>85</span>
                                </td>
                                <td>
                                    <p>19 June - 29 Jul 2024
                                    </p>
                                </td>
                                <td>
                                    <p>₹2,09,550</p>
                                    <small>1st Year Fees
                                    </small>
                                </td>
                            </tr>

                            <tr>
                                <td>#2</td>
                                <td>
                                    <div class="td_image">
                                        <div class="td_img"><img src="/images/custom-tab/iit-kharagpur.webp"
                                                alt="iit-madras" class="img"></div>
                                        <div class="td_containt">
                                            <p>IIT Kharagpur - Indian Institute of Technology - [IITKGP]</p>
                                            <small>Kharagpur,West Bengal &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                                    style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="td_image">
                                        <div class="td_img"><img src="/images/custom-tab/iitkha.webp" alt="iit-madras"
                                                class="img"></div>
                                        <div class="td_containt">
                                            <p>#4<small> out of 281 in India 2023</small></p>
                                        </div>
                                    </div>
                                </td>
                                <td><small>CAT 2023 Cut off</small> <span>90</span>
                                </td>
                                <td>
                                    <p>19 June - 29 Jul 2024

                                    </p>
                                </td>
                                <td>
                                    <p>₹2,23,600
                                    </p>
                                    <small>1st Year Fees
                                    </small>
                                </td>
                            </tr>
                            <td>#3</td>
                            <td>
                                <div class="td_image">
                                    <div class="td_img"><img src="/images/custom-tab/iima.webp" alt="iit-madras"
                                            class="img"></div>
                                    <div class="td_containt">
                                        <p>IIMA - Indian Institute of Management</p>
                                        <small>Ahmedabad,Gujarat &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                                style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td_image">
                                    <div class="td_img"><img src="/images/custom-tab/iimas.webp" alt="iit-madras"
                                            class="img"></div>
                                    <div class="td_containt">
                                        <p>#2<small> out of 50 in India 2019</small></p>
                                    </div>
                                </div>
                            </td>
                            <td><small>CAT 2023 Cut off</small> <span>99</span>
                            </td>
                            <td>
                                <p>3 July - 21 Feb 2024 </p>
                            </td>
                            <td>
                                <p> ₹1,20,360</p>
                                <small>Total Fees</small>
                            </td>
                            </tr>
                            <td>#4</td>
                            <td>
                                <div class="td_image">
                                    <div class="td_img"><img src="/images/custom-tab/iim.webp" alt="iit-madras"
                                            class="img"></div>
                                    <div class="td_containt">
                                        <p>IIM Bangalore - Indian Institute of Management</p>
                                        <small>Bangalore,Karnataka &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                                style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="td_image">
                                    <div class="td_img"><img src="/images/custom-tab/iimas.webp" alt="iit-madras"
                                            class="img"></div>
                                    <div class="td_containt">
                                        <p>#1<small> out of 50 in India 2019</small></p>
                                    </div>
                                </div>
                            </td>
                            <td><small>CAT 2023 Cut off</small> <span>99</span>
                            </td>
                            <td>
                                <p>19 June - 31 Jan 2024</p>
                            </td>
                            <td>
                                <p>₹33,96,000</p>
                                <small>Total Fees</small>
                            </td>
                            </tr><tr>
                            <td>#5</td>
                            <td><div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/iimc.webp" alt="iit-madras"
                                        class="img"></div>
                                <div class="td_containt">
                                    <p>IIMC - Indian Institute of Management</p>
                                    <small>Kolkata,West Bengal &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                            style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                </div></div>
                            </td>
                            <td>
                                <div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/iimcs.webp" alt="iit-madras"
                                    class="img"></div>
                            <div class="td_containt">
                                <p>#99<small> out of 200 in India 2023</small></p>
                            </div></div>
                            </td>
                            <td><small>CAT 2023 Cut off</small> <span>99</span>
                            </td>
                            <td><p>5 Jan - 10 Feb 2024</p></td>
                            <td><p>₹31,00,000</p>
                            <small>Total Fees</small></td>
                        </tr>
                        <tr>
                            <td>#6</td>
                            <td><div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/iit-delhi.gif" alt="iit-madras"
                                        class="img"></div>
                                <div class="td_containt">
                                    <p>IIT Delhi - Indian Institute of Technology [IITD]</p>
                                    <small>New Delhi,Delhi NCR &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                            style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                </div></div>
                            </td>
                            <td>
                                <div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/iitkha.webp" alt="iit-madras"
                                    class="img"></div>
                            <div class="td_containt">
                                <p>#1<small> out of 281 in India 2023</small></p>
                            </div></div>
                            </td>
                            <td><small>CAT 2023 Cut off</small> <span>98</span>
                            </td>
                            <td><p>19 June - 29 Jul 2024</p></td>
                            <td><p>₹2,54,650</p>
                            <small>1st Year Fees</small></td>
                        </tr>
                        <tr>
                            <td>#7</td>
                            <td><div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/xlri.webp" alt="iit-madras"
                                        class="img"></div>
                                <div class="td_containt">
                                    <p>XLRI</p>
                                    <small>Jamshedpur,Jharkhand &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                            style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                </div></div>
                            </td>
                            <td>
                                <div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/xlris.webp" alt="iit-madras"
                                    class="img"></div>
                            <div class="td_containt">
                                <p>#1<small> out of 80 in India 2021</small></p>
                            </div></div>
                            </td>
                            <td><small>XAT 2023 Cut off</small> <span>92</span>
                            </td>
                            <td><p>31 Dec</p></td>
                            <td><p>₹4,00,000</p>
                            <small>Total Fees</small></td>
                        </tr>
                        <tr>
                            <td>#8</td>
                            <td><div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/iit-bombay.webp" alt="iit-madras"
                                        class="img"></div>
                                <div class="td_containt">
                                    <p>IIT Bombay - Indian Institute of Technology - [IITB]</p>
                                    <small>Mumbai,Maharashtra &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                            style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                </div></div>
                            </td>
                            <td>
                                <div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/iimcs.webp" alt="iit-madras"
                                    class="img"></div>
                            <div class="td_containt">
                                <p>#4<small> out of 200 in India 2023</small></p>
                            </div></div>
                            </td>
                            <td><small>JEE-Advanced 2023 Cut off</small> <span>66</span>
                            </td>
                            <td><p>15 Feb - 31 Mar 2024</p></td>
                            <td><p>₹59,300</p>
                            <small>1st Year Fees</small></td>
                        </tr>
                        <tr>
                            <td>#9</td>
                            <td><div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/fms.gif" alt="iit-madras"
                                        class="img"></div>
                                <div class="td_containt">
                                    <p>FMS Delhi Faculty of Management Studies</p>
                                    <small>New Delhi,Delhi NCR &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                            style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                </div></div>
                            </td>
                            <td>
                                <div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/iimas.webp" alt="iit-madras"
                                    class="img"></div>
                            <div class="td_containt">
                                <p>#35<small> out of 50 in India 2019</small></p>
                            </div></div>
                            </td>
                            <td><small>CAT 2023 Cut off 
                            </small> <span>98</span>
                            </td>
                            <td><p>15 Jan - 14 Feb 2024</p></td>
                            <td><p>₹1,00,000</p>
                            <small>1st Year Fees</small></td>
                        </tr>
                        <tr>
                            <td>#10</td>
                            <td><div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/sp.webp" alt="iit-madras"
                                        class="img"></div>
                                <div class="td_containt">
                                    <p>SP Jain [SPJIMR]</p>
                                    <small>Mumbai,Maharashtra &nbsp; | &nbsp;<i class="fa-solid fa-star"
                                            style="color: #f8c100;"></i> <span>9.9/10</span></small>
                                </div></div>
                            </td>
                            <td>
                                <div class="td_image">
                                <div class="td_img"><img src="/images/custom-tab/iimas.webp" alt="iit-madras"
                                    class="img"></div>
                            <div class="td_containt">
                                <p>#16<small> out of 50 in India 2019</small></p>
                            </div></div>
                            </td>
                            <td><small>CAT 2023 Cut off 
                            </small> <span>85</span>
                            </td>
                            <td><p>10 Feb</p></td>
                            <td><p>₹9,00,000</p>
                            <small>Total Fees</small></td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end custom-tab table -->
    </section>
    <!-- end custom-tab section -->
</body>

</html>