<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Contet Infographic</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>


    <!-- Feature Content infographic -->
    <section class="feature-content-infographic gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-infographic-left">
                        <span class="heading-red">SEE WHAT WE DO</span>
                        <h2>Information is the Main Point to Success on Business</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy ant extra eirmod
                            tempor invidunt ut labore et
                            dolore magna aliquyam erat, sed diammi maxil voluptua. At vero eos et accusam et justo duo
                            dolores et ea rebum. Stet
                            clitaiai to ankasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Adasta
                            na lorem ipsum dolor sit
                            amet, consetetur sadipscing elitr.
                        </p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy ant extra eirmod
                            tempor invidunt ut labore et
                            dolore magna.
                        </p>
                        <a href="#">Contact us</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-infographic-image">
                    <img src="../images/feature-content-infographic/what-we-do2.jpg" alt="what we do">
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>