<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Navigation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!-- Mega Navigation Section Start -->

    <nav class="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="navigation__logo">
                        <img src="/images/navigation/logo.png" alt="logo" class="logo">
                    </div>
                </div>
                <div class="col-10">
                    <ul class="navigation__link">
                        <li><a href="#" class="nav-link">Career</a>
                            <div class="navigation-link__sub-nav">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>Investor <span class="heading-red">relations</span></h5>
                                            <p>Phoenix Group is the UK’s largest long-term savings and retirement
                                                business</p>
                                            <a href="#" class="header-link">Find out more</a>
                                        </div>
                                        <div class="col-4">
                                            <ul class="navigation-link_sub_nav__sub_nav">
                                                <li><a href="#" class="sub-link">Why invest in Phoenix?</a></li>
                                                <li><a href="#" class="sub-link">Results, reports and presentations</a>
                                                </li>
                                                <li><a href="#" class="sub-link">Announcements</a></li>
                                                <li><a href="#" class="sub-link">Shareholder information</a></li>
                                                <li><a href="#" class="sub-link">Equity analysts</a></li>
                                                <li><a href="#" class="sub-link">Debt Holdings & Credit Ratings</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-4">
                                            <div class="sub-right-nav-image">
                                                <img src="/images/navigation/small-about.jpg" alt="about-small">
                                            </div>

                                            <h6>Why invest in <span class="heading-red"> Phoenix?</span></h6>

                                            <p>Our purpose is helping people secure a life of possibilities</p>

                                            <a href="#" class="header-link">Find out more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#" class="nav-link">About us</a></li>
                        <li><a href="#" class="nav-link">Sustaiability</a></li>
                        <li><a href="#" class="nav-link">Views & insights</a></li>
                        <li><a href="#" class="nav-link">News</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>



</body>

</html>