<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Component</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <section class="news-section">
        <h2>CONSULTING EXPERT NEWS</h2>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="news-section__news-des">
                       
                        <div class="news-des__image">
                            <img src="../images/news/first-news.jpg" alt="first-news">

                            <div class="news-date">
                                <p>29 SEP</p>
                            </div>
                        </div>

                        <div class="news-section__news-details">
                            <h3>Income Increase Shows the Recovery Is very Much</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam dolores nostrum
                                recusandae.
                            </p>
                            <a href="#">Read More</a>
                        </div>

                       
                    </div>
                </div>

                <div class="col-4">
                    <div class="news-section__news-des">
                
                        <div class="news-des__image">
                            <img src="../images/news/second-news.jpg" alt="second-news">

                            <div class="news-date">
                                <p>28 SEP</p>
                            </div>
                        </div>
                
                        <div class="news-section__news-details">
                            <h3>Income Increase Shows the Recovery Is very Much</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam dolores nostrum
                                recusandae.
                            </p>
                            <a href="#">Read More</a>
                        </div>

                      
                    </div>
                </div>

                <div class="col-4">
                    <div class="news-section__news-des">
                
                        <div class="news-des__image">
                            <img src="../images/news/third-news.jpg" alt="third-news">

                            <div class="news-date">
                                <p>26 SEP</p>
                            </div>
                        </div>
                
                        <div class="news-section__news-details">
                            <h3>Income Increase Shows the Recovery Is very Much</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam dolores nostrum
                                recusandae.
                            </p>
                            <a href="#">Read More</a>
                        </div>

                       
                    </div>
                </div>
                
            </div>

            <div class="news-section__short-des">


                <div class="row">
                    <div class="col-1">
                        <div class="news-short__image">
                            <img src="../images/news/first-news.jpg" alt="first-news">
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="news-short__details">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ratione et sit
                                consectetur voluptates repellendus deserunt aliquid reprehenderit placeat quas!</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>



            <div class="news-section__short-des">
            
            
                <div class="row">
                    <div class="col-1">
                        <div class="news-short__image">
                            <img src="../images/news/third-news.jpg" alt="third-news">
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="news-short__details">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ratione et sit
                                consectetur voluptates repellendus deserunt aliquid reprehenderit placeat quas!</p>
                        </div>
                    </div>
            
                </div>
            
            </div>



            <div class="news-section__short-des">
            
            
                <div class="row">
                    <div class="col-1">
                        <div class="news-short__image">
                            <img src="../images/news/third-news.jpg" alt="third-news">
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="news-short__details">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ratione et sit
                                consectetur voluptates repellendus deserunt aliquid reprehenderit placeat quas!</p>
                        </div>
                    </div>
            
                </div>
            
            </div>
        </div>


    </section>


</body>

</html>