<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-post-card-btn</title>
    <link rel="stylesheet" href="/css/sign-post-card-btn.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <section class="sign-post-card-btn container">
        <div class="sign-post-card-btn_heading">
            <h2>Top Universities<span>/Colleges</span></h2>
        </div>
        <div class="sign-post-card-btn__card-outer-cell .col-4">
            <div class="card-outer-cell__card-list">
                <div class="card-outer">

                </div>
            </div>
        </div>
    </section>
</body>
</html>