<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Banner</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="../css/global.css"> -->
</head>

<body>

    <!-- Simple Banner Section -->

    <section class="banner-landing">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="banner-landing__image">
                        <img src="../images/landing-banner/default-banner.jpg" alt="Default Banner">
                    </div>

                    <div class="banner-title">
                       
                        <h1>Impact <span class="heading-red">Partners</span></h1>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>