<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tab</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <!-- Tab section -->
    <section class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button id="btn1" onclick="openbtn1()" class="tab-btn">Bachelors</button>
                    <button id="btn2" onclick="openbtn2()" class="tab-btn">Masters</button>
                    <button id="btn3" onclick="openbtn3()" class="tab-btn">Doctorate</button>
                    <div class="tab-button">

                    </div>

                    <div class="tabs-content" id="content1">
                        <div class="tabs-content-left">
                            <span class="heading-red">Full Time</span>

                            <h3>B.Com General</h3>

                            <table>
                                <tr>
                                    <td>
                                        Duration
                                    </td>
                                    <td>
                                        3 Years
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Total Avg. Fees
                                    </td>
                                    <td>
                                        65.19 K
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Colleges
                                    </td>
                                    <td>
                                        6551
                                    </td>
                                </tr>
                            </table>

                            <h5>Course Overview</h5>
                        </div>




                        <div class="tabs-content-left">
                            <span class="heading-red">Full Time</span>

                            <h3>BCA</h3>

                            <table>
                                <tr>
                                    <td>
                                        Duration
                                    </td>
                                    <td>
                                        3 Years
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Total Avg. Fees
                                    </td>
                                    <td>
                                        69.19 K
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Colleges
                                    </td>
                                    <td>
                                        7551
                                    </td>
                                </tr>
                            </table>

                            <h5>Course Overview</h5>
                        </div>





                        <div class="tabs-content-left">
                            <span class="heading-red">Full Time</span>

                            <h3>BBA General</h3>

                            <table>
                                <tr>
                                    <td>
                                        Duration
                                    </td>
                                    <td>
                                        3 Years
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Total Avg. Fees
                                    </td>
                                    <td>
                                        80.19 K
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Colleges
                                    </td>
                                    <td>
                                        9551
                                    </td>
                                </tr>
                            </table>

                            <h5>Course Overview</h5>
                        </div>
                    </div>


                    <div class="tabs-content" id="content2">
                        <div class="tabs-content-left">
                            <span class="heading-red">Full Time</span>

                            <h3>M.Com General</h3>

                            <table>
                                <tr>
                                    <td>
                                        Duration
                                    </td>
                                    <td>
                                        2 Years
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Total Avg. Fees
                                    </td>
                                    <td>
                                        90.19 K
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Colleges
                                    </td>
                                    <td>
                                        8551
                                    </td>
                                </tr>
                            </table>

                            <h5>Course Overview</h5>
                        </div>

                        <div class="tabs-content-left">
                            <span class="heading-red">Full Time</span>
                        
                            <h3>MCA General</h3>
                        
                            <table>
                                <tr>
                                    <td>
                                        Duration
                                    </td>
                                    <td>
                                        2 Years
                                    </td>
                                </tr>
                        
                                <tr>
                                    <td>
                                        Total Avg. Fees
                                    </td>
                                    <td>
                                        80.19 K
                                    </td>
                                </tr>
                        
                                <tr>
                                    <td>
                                        Colleges
                                    </td>
                                    <td>
                                        7551
                                    </td>
                                </tr>
                            </table>
                        
                            <h5>Course Overview</h5>
                        </div>

                        <div class="tabs-content-left">
                            <span class="heading-red">Full Time</span>
                        
                            <h3>MBA</h3>
                        
                            <table>
                                <tr>
                                    <td>
                                        Duration
                                    </td>
                                    <td>
                                        2 Years
                                    </td>
                                </tr>
                        
                                <tr>
                                    <td>
                                        Total Avg. Fees
                                    </td>
                                    <td>
                                        95.19 K
                                    </td>
                                </tr>
                        
                                <tr>
                                    <td>
                                        Colleges
                                    </td>
                                    <td>
                                        8551
                                    </td>
                                </tr>
                            </table>
                        
                            <h5>Course Overview</h5>
                        </div>
                    </div>


                    <div class="tabs-content" id="content3">
                        <div class="tabs-content-left">
                            <span class="heading-red">Full Time</span>

                            <h3>BHMS</h3>

                            <table>
                                <tr>
                                    <td>
                                        Duration
                                    </td>
                                    <td>
                                        3 Years
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Total Avg. Fees
                                    </td>
                                    <td>
                                        65.19 K
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Colleges
                                    </td>
                                    <td>
                                        6551
                                    </td>
                                </tr>
                            </table>

                            <h5>Course Overview</h5>
                        </div>


                       

                        <div class="tabs-content-left">
                            <span class="heading-red">Full Time</span>
                        
                            <h3>MBBS</h3>
                        
                            <table>
                                <tr>
                                    <td>
                                        Duration
                                    </td>
                                    <td>
                                        4 Years
                                    </td>
                                </tr>
                        
                                <tr>
                                    <td>
                                        Total Avg. Fees
                                    </td>
                                    <td>
                                        180.19 K
                                    </td>
                                </tr>
                        
                                <tr>
                                    <td>
                                        Colleges
                                    </td>
                                    <td>
                                        551
                                    </td>
                                </tr>
                            </table>
                        
                            <h5>Course Overview</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>


    <!-- tab end section -->


    <script src="../js/tabs.js"></script>

</body>

</html>